.fim{
    background-image: url("../../../public/images/rosas2.jpg");
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 33%;
    width: 100%;
}
.texto{
    color: rgb(105, 4, 4);
    font-family:'Bebas Neue', cursive;
    width: 100%;
}
.imagemFamilia{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.foto{

    text-align: center;
    align-items: center;
    justify-content: center;

}
.audio{
    width: 100%;
    color: blueviolet;
    background-color: pink;
}