
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.fim{
    background-image: url("../../../public/images/rosas2.jpg");
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 33%;
    width: 100%;
}
.texto{
    color: rgb(105, 4, 4);
    font-family:'Bebas Neue', cursive;
    width: 100%;
}
.imagemFamilia{
    max-height: 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.foto{

    text-align: center;
    align-items: center;
    justify-content: center;

}
.audio{
    width: 100%;
    color: blueviolet;
    background-color: pink;
}
.ButtonManoel{
    background-color:rgb(4,106,56) ;
    color: rgb(255,255,0);
    width: 50%;
    height: 100%;
    border-radius: 25%;
    align-self: center;
    font-family: 'Poppins' sans-serif;
}
.textoButton{
     text-decoration: none;

}