.fotosLaurinda {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Define 3 colunas com largura igual */
    gap: 20px; /* Espaçamento entre as imagens */
    row-gap: 20px; /* Espaçamento vertical entre as linhas */
}

.fotosLaurinda img {
    width: calc((100vw - 60px) / 3); /* Largura é 1/3 da largura da tela menos o espaçamento */
    height: calc((100vh - 80px) / 3); /* Altura é 1/3 da altura da tela menos o espaçamento */
    object-fit: contain; /* Garante que a imagem caiba completamente no espaço */
}
@media screen and (max-width: 600px) {
    .fotosLaurinda {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Ajusta para telas menores */
    }
}
.descricao{
    color: white;
    width: 100%;
    background-color: black;
}
.texto{
    color: rgb(105, 4, 4);
    font-family:'Bebas Neue', cursive;
}
.inicio{
    background-image: url("../../../public/images/rosas2.jpg");
    background-color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 33%;
}