@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.textoManoel{
    color: rgb(255,255,0);
    font-family: 'Poppins' sans-serif;
}
.inicioManoel{
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(4,106,56)), to(rgb(255,0,0)));
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 33%;
}